/*--
  Header Start
--*/

header {
  min-height: 80px;
  @include desktop {
    min-height: 70px;
  }
  background: $white;
  padding: 10px 0;
  @include transition(all, 0.3s, ease);

  .navbar {
    margin-bottom: 0px;
    border: 0px;
  }
  .navbar-brand {
    padding-top: 5px;
  }
  .navbar-default {
    background: none;
    border: 0px;
    .navbar-nav {
        padding-top: 10px;
      li {
        a {
          color: $text-light;
          padding: 10px 20px;
          font-size: 14px;
          font-weight: 500;
          @include transition(all, 0.3s, ease);
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}
